.pos-r {
  position: relative;
  bottom: 113px; }

.pos-r-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative; }

:root {
  font-size: 16px; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'Lato', sans-serif; }

.container {
  max-width: 1072px;
  padding: 0 12px;
  margin: 0 auto; }

.swiper-pagination {
  background: transparent;
  text-align: left; }

.swiper-pagination-wrapper {
  margin-top: 85px; }

.swiper-pagination-bullet {
  background: #fff;
  bottom: 114px;
  width: 10px;
  height: 10px; }
  .swiper-pagination-bullet:not(:first-child) {
    margin-left: 50px; }

.swiper-button-prev,
.swiper-button-next {
  font-size: 25px;
  height: 60px;
  width: 60px;
  background: rgba(255, 255, 255, 0.3); }
  .swiper-button-prev:hover,
  .swiper-button-next:hover {
    background: rgba(255, 255, 255, 0.5); }
  .swiper-button-prev::after,
  .swiper-button-next::after {
    color: #ffffff;
    font-size: 15px;
    opacity: 0.8; }

.swiper-button-prev {
  right: 0;
  left: auto;
  transform: translateX(-100%); }

.swiper-button-next {
  right: 0; }

.swiper-container-2 {
  overflow: hidden;
  margin-top: 80px; }

.swiper-button-wrapper {
  display: flex; }

.swiper-button-prev-2,
.swiper-button-next-2 {
  background-color: #005FA3;
  font-size: 25px;
  height: 60px;
  width: 60px;
  cursor: pointer;
  outline: none; }
  .swiper-button-prev-2:hover,
  .swiper-button-next-2:hover {
    background-color: rgba(0, 95, 163, 0.4); }

.swiper-pagination-bullet-2 {
  background-color: #005FA3;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.3;
  cursor: pointer;
  outline: none; }
  .swiper-pagination-bullet-2:not(:first-child) {
    margin-left: 50px; }

.swiper-pagination-bullet-active-2 {
  opacity: 0.8; }

.swiper-container-3 {
  background-color: #EBEBEB;
  padding: 45px 95px 80px;
  margin-top: 80px; }

.swiper-button-wrapper {
  display: flex; }

.swiper-button-prev-3,
.swiper-button-next-3 {
  background-color: #005FA3;
  font-size: 25px;
  height: 60px;
  width: 60px;
  cursor: pointer;
  outline: none; }
  .swiper-button-prev-3:hover,
  .swiper-button-next-3:hover {
    background-color: rgba(0, 95, 163, 0.4); }

.swiper-pagination-bullet-3 {
  background-color: #005FA3;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.3;
  cursor: pointer;
  outline: none; }
  .swiper-pagination-bullet-3:not(:first-child) {
    margin-left: 50px; }

.swiper-pagination-bullet-active-3 {
  opacity: 0.8; }

.header {
  padding: 21px 0 31px; }
  .header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .header__logo-block {
    display: inline-flex;
    align-items: center; }
  .header__logo {
    display: inline-block;
    margin-left: 30px;
    font-family: 'Merriweather', serif;
    font-size: 36px;
    font-weight: 900;
    color: #005FA3; }
    .header__logo-link {
      text-decoration: none; }
  .header__info {
    display: flex;
    margin-bottom: 22px; }
    .header__info-img {
      display: inline-block;
      margin-right: 15px; }
    .header__info-item {
      font-size: 13px; }
      .header__info-item:not(:first-child) {
        margin-left: 48px; }
      .header__info-item span {
        display: flex; }
        .header__info-item span a {
          color: #000000;
          text-decoration: none;
          display: inherit; }
  .header__list {
    display: flex;
    justify-content: space-between;
    list-style-type: none; }
  .header__link {
    color: #222222;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700; }
    .header__link:hover {
      color: #005FA3; }

.header__bottom-bg {
  padding: 170px 0 300px;
  background-image: url(../images/background.png);
  background-repeat: no-repeat;
  background-size: cover; }

.header__bottom-title {
  font-family: 'Merriweather', serif;
  font-weight: 700;
  font-size: 48px;
  color: #ffffff;
  max-width: 54%;
  margin-bottom: 80px; }

.header__bottom-link {
  text-decoration: none;
  padding: 19px 50px;
  color: #ffffff;
  background-color: #005FA3;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 1px;
  margin-bottom: 120px;
  transition: all .1s; }
  .header__bottom-link:hover {
    background: rgba(0, 95, 163, 0.7); }

.label-grey {
  font-weight: 900;
  font-size: 24px;
  color: #BDBDBD;
  display: block;
  margin-bottom: 40px; }

.title-secondary-black,
.title-secondary-white {
  font-weight: 900;
  font-size: 48px;
  font-family: 'Merriweather', serif; }

.title-secondary-black {
  color: #333333; }

.title-secondary-white {
  color: #ffffff; }

.title-third {
  font-size: 24px;
  font-weight: 900;
  color: #ffffff; }

.title-blue {
  color: #005FA3;
  display: block;
  margin-top: 12px; }

.paragraph {
  font-size: 18px;
  font-weight: 300;
  color: #000000;
  margin-top: 60px; }

.offer {
  background-color: #EBEBEB;
  padding: 140px 0; }
  .offer__wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 102px; }
  .offer__block {
    background: url(../images/bg-offer.png);
    background-size: cover;
    background-repeat: no-repeat;
    flex: 0 0 32%;
    padding: 261px 0 45px 45px;
    margin: 6px;
    cursor: pointer; }
    .offer__block:hover {
      background: linear-gradient(0deg, rgba(0, 95, 163, 0.65), rgba(0, 95, 163, 0.65)), url(../images/bg-offer.png);
      background-size: cover;
      background-repeat: no-repeat; }

.about {
  background-color: #ffffff;
  padding: 140px 0 140px; }
  .about__wrapper {
    display: flex;
    justify-content: space-between; }
  .about__descr {
    display: inline-block;
    width: 45%; }
  .about__preview {
    display: inline-flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 50%; }
  .about__block {
    padding: 25px 60px 30px 30px;
    width: 40%;
    margin: 10px;
    cursor: pointer;
    transition: all .1s;
    background-color: #EBEBEB; }
    .about__block:hover {
      background-color: #005FA3; }
      .about__block:hover * {
        color: #ffffff; }
  .about__volume {
    font-size: 55px;
    font-weight: 900; }
  .about__text {
    font-size: 14px;
    font-weight: 700;
    color: #000000;
    margin-top: 20px; }
  .about__link {
    font-size: 14px;
    font-weight: 700;
    color: #005FA3;
    margin-top: 30px;
    display: inline-block; }
    .about__link:hover {
      opacity: .4; }

.clients {
  padding: 100px 0 100px;
  background-color: #EBEBEB; }

.feedback {
  padding: 140px 0; }
  .feedback__p {
    font-size: 18px;
    font-weight: 300; }
  .feedback__person {
    margin-top: 59px;
    display: flex;
    align-items: center; }
  .feedback__pic {
    border-radius: 50%;
    margin-right: 35px; }
  .feedback__name {
    font-size: 18px;
    font-weight: 900; }
  .feedback__profi {
    font-size: 14px;
    font-weight: 400; }
  .feedback__wrapper-slider {
    overflow: hidden; }

.footer {
  background: url(/images/background.png); }
  .footer__wrapper {
    padding: 122px 0 140px;
    display: flex;
    justify-content: space-between; }
  .footer__p {
    font-size: 18px;
    color: #ffffff;
    opacity: 0.8;
    font-weight: 300;
    margin-top: 60px; }
  .footer__contacts-wrapper {
    display: flex;
    align-items: center;
    margin-top: 79px; }
  .footer__contacts-item {
    display: flex;
    align-items: center; }
  .footer__contacts-item:first-child {
    margin-right: 40px; }
  .footer__link {
    color: #ffffff;
    font-size: 21px;
    font-weight: 300;
    text-decoration: none;
    display: inline-block; }
  .footer img {
    display: inline-block;
    margin-right: 15px; }
  .footer__mail {
    width: 30px; }
  .footer input {
    background: transparent;
    outline: none;
    color: #ffffff;
    padding-top: 15px;
    font-size: 21px; }
  .footer__name, .footer__surname {
    border: none;
    border-bottom: 1px solid #ffffff; }
  .footer__label {
    font-size: 16px;
    font-weight: 400;
    color: #ffffff;
    display: inline-block;
    padding-bottom: 15px; }
  .footer__label-message {
    font-size: 16px;
    font-weight: 400;
    color: #ffffff;
    display: inline-block;
    width: 100%;
    margin-top: 35px; }
  .footer__message {
    border: none;
    border-bottom: 1px solid #ffffff;
    width: 100%;
    padding-bottom: 84px;
    background: transparent;
    font-size: 21px;
    color: #ffffff;
    outline: none; }
  .footer__bottom {
    padding: 50px 0 40px;
    background-color: #ffffff; }
    .footer__bottom-wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between; }
  .footer__copyright {
    font-size: 14px;
    color: #000000;
    font-weight: 300; }
  .footer__author {
    font-size: 14px;
    font-weight: 300;
    color: #000000; }
