.pos-r {
  position: relative;
  bottom: 113px; }

:root {
  font-size: 16px; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'Lato', sans-serif; }

.container {
  max-width: 1072px;
  padding: 0 12px;
  margin: 0 auto; }

.swiper-pagination {
  background: transparent;
  text-align: left; }

.swiper-pagination-bullet {
  background: #fff;
  bottom: 114px;
  width: 10px;
  height: 10px; }
  .swiper-pagination-bullet:not(:first-child) {
    margin-left: 50px; }

.swiper-button-prev,
.swiper-button-next {
  font-size: 25px;
  height: 60px;
  width: 60px;
  background: rgba(255, 255, 255, 0.3); }
  .swiper-button-prev:hover,
  .swiper-button-next:hover {
    background: rgba(255, 255, 255, 0.5); }
  .swiper-button-prev::before, .swiper-button-prev::after,
  .swiper-button-next::before,
  .swiper-button-next::after {
    color: #ffffff;
    font-size: 15px;
    opacity: .8; }

.swiper-button-prev {
  right: 0;
  left: auto;
  transform: translateX(-100%); }

.swiper-button-next {
  right: 0; }

.header {
  padding: 21px 0 31px; }
  .header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .header__logo-block {
    display: inline-flex;
    align-items: center; }
  .header__logo {
    display: inline-block;
    margin-left: 30px;
    font-family: 'Merriweather', serif;
    font-size: 36px;
    font-weight: 900;
    color: #005FA3; }
    .header__logo-link {
      text-decoration: none; }
  .header__info {
    display: flex;
    margin-bottom: 22px; }
    .header__info-img {
      display: inline-block;
      margin-right: 15px; }
    .header__info-item {
      font-size: 13px; }
      .header__info-item:not(:first-child) {
        margin-left: 48px; }
      .header__info-item span {
        display: flex; }
        .header__info-item span a {
          color: #000000;
          text-decoration: none;
          display: inherit; }
  .header__list {
    display: flex;
    justify-content: space-between;
    list-style-type: none; }
  .header__link {
    color: #222222;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700; }
    .header__link:hover {
      color: #005FA3; }

.header__bottom-bg {
  padding: 170px 0 300px;
  background-image: url(/images/background.png);
  background-repeat: no-repeat;
  background-size: cover; }

.header__bottom-title {
  font-family: 'Merriweather', serif;
  font-weight: 700;
  font-size: 48px;
  color: #ffffff;
  max-width: 54%;
  margin-bottom: 80px; }

.header__bottom-link {
  text-decoration: none;
  padding: 19px 50px;
  color: #ffffff;
  background-color: #005FA3;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 1px;
  margin-bottom: 120px;
  transition: all .1s; }
  .header__bottom-link:hover {
    background: rgba(0, 95, 163, 0.7); }

.label-grey {
  font-weight: 900;
  font-size: 24px;
  color: #BDBDBD;
  display: block;
  margin-bottom: 40px; }

.title-secondary-black,
.title-secondary-white {
  font-weight: 900;
  font-size: 48px;
  font-family: 'Merriweather', serif; }

.title-secondary-black {
  color: #333333; }

.title-secondary-white {
  color: #ffffff; }

.title-third {
  font-size: 24px;
  font-weight: 900;
  color: #ffffff; }

.title-blue {
  color: #005FA3;
  display: block;
  margin-top: 12px; }

.paragraph {
  font-size: 18px;
  font-weight: 300;
  color: #000000;
  margin-top: 60px; }

.offer {
  background-color: #EBEBEB;
  padding: 140px 0; }
  .offer__wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 102px; }
  .offer__block {
    background: url(/images/bg-offer.png);
    background-size: cover;
    background-repeat: no-repeat;
    flex: 0 0 32%;
    padding: 261px 0 45px 45px;
    margin: 6px;
    cursor: pointer; }
    .offer__block:hover {
      background: linear-gradient(0deg, rgba(0, 95, 163, 0.65), rgba(0, 95, 163, 0.65)), url(4.jpg), url(/images/bg-offer.png);
      background-size: cover;
      background-repeat: no-repeat; }

.about {
  background-color: #ffffff;
  padding: 140px 0 140px; }
  .about__wrapper {
    display: flex;
    justify-content: space-between; }
  .about__descr {
    display: inline-block;
    width: 45%; }
  .about__preview {
    display: inline-flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 50%; }
  .about__block {
    padding: 25px 60px 30px 30px;
    width: 40%;
    margin: 10px;
    cursor: pointer;
    transition: all .1s;
    background-color: #EBEBEB; }
    .about__block:hover {
      background-color: #005FA3; }
      .about__block:hover * {
        color: #ffffff; }
  .about__volume {
    font-size: 55px;
    font-weight: 900; }
  .about__text {
    font-size: 14px;
    font-weight: 700;
    color: #000000;
    margin-top: 20px; }
  .about__link {
    font-size: 14px;
    font-weight: 700;
    color: #005FA3;
    margin-top: 30px;
    display: inline-block; }
    .about__link:hover {
      opacity: .7; }
