.header {
    padding: 21px 0 31px;

    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo-block {
        display: inline-flex;
        align-items: center;
    }

    &__logo {
        display: inline-block;
        margin-left: 30px;
        font-family: 'Merriweather',
        serif;
        font-size: 36px;
        font-weight: 900;
        color: $color-blue;
        &-link {
            text-decoration: none;
        }
    }

    &__info {
        display: flex;
        margin-bottom: 22px;
        &-img {
            display: inline-block;
            margin-right: 15px;
        }
        &-item {
            font-size: 13px;
            &:not(:first-child) {
                margin-left: 48px;
            }

            span {
                display: flex;
                a {
                    color: $color-black;
                    text-decoration: none;
                    display: inherit;
                }
            }
        }
    }

    &__list {
        display: flex;
        justify-content: space-between;
        list-style-type: none;
    }

    &__link {
        color: $primary-color-1;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 700;
        &:hover {
            color: $color-blue;
        }
    }
}

.header__bottom {
    &-bg {
        padding: 170px 0 300px;
        background-image: url(/images/background.png);
        background-repeat: no-repeat;
        background-size: cover;
    }

    &-title {
        font-family: 'Merriweather',
        serif;
        font-weight: 700;
        font-size: 48px;
        color: $color-white;
        max-width: 54%;
        margin-bottom: 80px;
    }

    &-link {
        text-decoration: none;
        padding: 19px 50px;
        color: $color-white;
        background-color: $color-blue;
        font-family: 'Lato',
        sans-serif;
        font-size: 18px;
        font-weight: 400;
        letter-spacing: 1px;
        margin-bottom: 120px;
        transition: all .1s;

        &:hover {
            background: rgba($color-blue, .7);
        }
    }
}