.offer {
    background-color: $color-grey-light;
    padding: 140px 0;

    &__wrapper {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-top: 102px;
    }

    &__block {
        background: url(./images/bg-offer.png);
        background-size: cover;
        background-repeat: no-repeat;
        flex: 0 0 32%;
        padding: 261px 0 45px 45px;
        margin: 6px;
        cursor: pointer;

        &:hover {
            background: linear-gradient(0deg, rgba(0, 95, 163, 0.65), rgba(0, 95, 163, 0.65)),
            url(4.jpg),
            url(/images/bg-offer.png);
            background-size: cover;
            background-repeat: no-repeat;
        }
    }
}