.swiper-pagination {
  background: transparent;
  text-align: left;
}

.swiper-pagination-wrapper {
  margin-top: 85px;
}

.swiper-pagination-bullet {
  background: #fff;
  bottom: 114px;
  width: 10px;
  height: 10px;
  &:not(:first-child) {
    margin-left: 50px;
  }
}

.swiper-button-prev,
.swiper-button-next {
  font-size: 25px;
  height: 60px;
  width: 60px;
  background: rgba($color-white, 0.3);
  &:hover {
    background: rgba($color-white, 0.5);
  }
  &::after {
    color: $color-white;
    font-size: 15px;
    opacity: 0.8;
  }
}

.swiper-button-prev {
  right: 0;
  left: auto;
  transform: translateX(-100%);
}

.swiper-button-next {
  right: 0;
}

.swiper-container-2 {
  overflow: hidden;
  margin-top: 80px;
}

.swiper-button-wrapper {
  display: flex;
}

.swiper-button-prev-2,
.swiper-button-next-2 {
  background-color: $color-blue;
  font-size: 25px;
  height: 60px;
  width: 60px;
  cursor: pointer;
  outline: none;

  &:hover {
    background-color: rgba($color-blue, 0.4);
  }
}

// .swiper-button-prev-2 {
//     right: 0;
//     left: auto;
// }

// .swiper-button-next-2 {
//     right: 0;
//     margin-right: 0;
// }

.swiper-pagination-bullet-2 {
  background-color: $color-blue;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.3;
  cursor: pointer;
  outline: none;

  &:not(:first-child) {
    margin-left: 50px;
  }
}

.swiper-pagination-bullet-active-2 {
  opacity: 0.8;
}

////////// SWIPER-SLIDER-3 ///////////

.swiper-container-3 {
  background-color: $color-grey-light;
  padding: 45px 95px 80px;
  margin-top: 80px;
}

.swiper-button-wrapper {
  display: flex;
}

.swiper-button-prev-3,
.swiper-button-next-3 {
  background-color: $color-blue;
  font-size: 25px;
  height: 60px;
  width: 60px;
  cursor: pointer;
  outline: none;

  &:hover {
    background-color: rgba($color-blue, 0.4);
  }
}

.swiper-pagination-bullet-3 {
  background-color: $color-blue;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.3;
  cursor: pointer;
  outline: none;

  &:not(:first-child) {
    margin-left: 50px;
  }
}

.swiper-pagination-bullet-active-3 {
  opacity: 0.8;
}
